<div class="content header">
    <img class="logo" src="./Logo.png" alt="BlackScreen Logo" (click)="selectPage(SelectPage.History)" />

    <div class="nav-components">
        <div class="lang-search">
            <div class="langs">
                <a class="lang">UA</a>
                <span class="divider">|</span>
                <a class="lang">EN</a>
                <span class="divider">|</span>
                <a class="lang active">RU</a>
            </div>
            <button class="search-btn" (click)="selectPage(SelectPage.Search)">
                <img src="./icons/searsh.svg" alt="">
                Поиск
            </button>
        </div>

        <nav class="nav-links">
            <a class="link" (click)="selectPage(SelectPage.History)">История просмотра</a>
            <a class="link" (click)="selectPage(SelectPage.Applications)">Приложения</a>
        </nav>
    </div>
</div>