<div class="content header">
    <img class="logo" src="./Logo.png" alt="BlackScreen Logo" />

    <div class="nav-components">
        <div class="lang-search">
            <div class="langs">
                <a href="#" class="lang">UA</a>
                <span class="divider">|</span>
                <a href="#" class="lang">EN</a>
                <span class="divider">|</span>
                <a href="#" class="lang active">RU</a>
            </div>
            <button class="search-btn">
                <img src="./icons/searsh.svg" alt="">
                Поиск
            </button>
        </div>

        <nav class="nav-links">
            <a class="link">Фильмы</a>
            <a class="link">Сериалы</a>
            <a class="link">Мультфильмы</a>
            <a class="link">Аниме</a>
            <a class="link">Приложения</a>
        </nav>
    </div>
</div>