.slider {
  width: var(--slider-width);
  height: var(--slider-height);
  position: relative;
  cursor: pointer;
}

.slider-track {
  position: absolute;
  top: 50%;
  left: 0;
  height: var(--slider-height);
  width: 100%;
  transform: translateY(-50%);
  border-radius: var(--slider-height);
  overflow: hidden;

  background: linear-gradient(
    to right,
    var(--slider-progress-color, #666) 0%,
    var(--slider-progress-color, #666) var(--slider-progress, 50%),
    var(--slider-bg-color, #333) var(--slider-progress, 50%),
    var(--slider-bg-color, #333) 100%
  );
}

.slider-thumb {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: var(--slider-height);
  height: var(--slider-height);
  background: var(--slider-thumb-color, #ddd);
  border-radius: 50%;
}
