<div class="content info">
    <div class="detalis">
        <img class="image" src="">
        <div class="right-info">
            <div class="ratings">
                <div class="rating">
                    <p class="title">Загрузка рейтингов</p>
                    <p class="sub-title">(0)</p>
                </div>
            </div>
            <div class="short-info">
                <div class="title">Загрузка названия...</div>
                <div class="title original-name">Загрузка оригинального названия...</div>
                <div class="title">Дата выхода: <p class="sub-title">Загрузка даты выхода...</p></div>
                <div class="title">Тип: <p class="sub-title">Загрузка типа...</p></div>
                <div class="title">Жанры: <p class="sub-title">Загрузка жанров...</p></div>
                <div class="title">Страна: <p class="sub-title">Загрузка страны в которой выпустили...</p></div>
                <div class="title">Сезонов: <p class="sub-title">Загрузка количества сезонов...</p></div>
                <div class="title">Серий: <p class="sub-title">Загрузка количества серий...</p></div>
                <div class="title">Время: <p class="sub-title">Загрузка длительности одной серии...</p></div>
                <div class="title">В качестве: <p class="sub-title">Загрузка максимально доступного качества...</p></div>
            </div>
        </div>
    </div>
    <div class="title">Про что: <p class="sub-title">Загрузка...</p></div>
</div>
<app-player></app-player>