:host {
    --player-background-color: #0C1118;
    --player-background-color-transparent: rgba(12, 17, 24, 0.5);
    --player-second-color: rgb(var(--player-second-color-r), var(--player-second-color-g), var(--player-second-color-b));
    --player-second-transparent-0-6: rgba(var(--player-second-color-r), var(--player-second-color-g), var(--player-second-color-b), 0.6);
    --player-second-transparent-0-4: rgba(var(--player-second-color-r), var(--player-second-color-g), var(--player-second-color-b), 0.4);
    --player-second-transparent-0: rgba(var(--player-second-color-r), var(--player-second-color-g), var(--player-second-color-b), 0);
}

p { margin: 0; }

svg {
    fill: var(--player-main-color);
    stroke: var(--player-main-color);
}

.slider {
    --slider-width: 100%;
    --slider-height: 10px;
    --slider-thumb-color: var(--player-main-color);
    --slider-progress-color: var(--player-second-color);
    --slider-bg-color: var(--player-second-transparent-0-6);
}

.player-button{
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--player-second-color);
}

.player-main {
    color: var(--player-main-color);

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;

    max-width: 960px;
    margin: 1em auto;

    .player-p { margin-bottom: 0.1em; }

    .player {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: var(--player-background-color);
        height: 640px;
        

        .player-header {
            display: flex;
            justify-content: space-between;
            background: linear-gradient(to top, var(--player-second-transparent-0) 0%, var(--player-second-transparent-0-6) 50%, var(--player-second-color) 100%);
            
            nav {
                display: flex;

                button {
                    display: flex;
                    align-items: center;
                    font-size: 20px;
                    font-weight: 400;
                    font-family: 'Inter', sans-serif;
                    margin-right: 0.5em;
                    border: none;
                    color: var(--player-main-color);
                    border-radius: 0.5em;
                    padding: 5px 0.5em;
                    background-color: var(--player-second-color);
                    
                    &:last-child { margin: 0; }
                    &.chrome-cast { display: none; }
                    &.chrome-cast, &.mini-player { padding: 4px; }
                    .player-arrow { margin-left: 5px; }
                }
            }
        }

        .space { flex: 1; }

        &.hide-cursor { cursor: none; }

        .player-footer {
            display: flex;
            justify-content: space-between;
            background: linear-gradient(to bottom, var(--player-second-transparent-0) 0%, var(--player-second-transparent-0-6) 50%, var(--player-second-color) 100%);
            
            .player-play-button{
                height: 3.8em;
                width: 3.8em;
                padding: 0;

                .img-play {
                    margin-left: 5px;
                }
            }

            .progress-container{
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 2.1em;
                padding: 0.2em 0.5em;

                .progress-time{
                    margin: 0;
                }
            }
            
            .right-cintrols {
                display: flex;
                flex-direction: row;
                align-items: end;
                justify-content: end;

                .sound-controll{
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .mute-controll{
                        padding: 0;
                        background-color: transparent;
                        height: 20px;
                        width: auto;
                        margin-left: 0;
                    }

                    .slider {
                        --slider-width: 100px;
                        margin-left: 0.5em;
                    }
                }

                .player-button{
                    height: 2.8em;
                    width: 2.8em;
                    margin-left: 0.5em;
                }
            }
        }

        .player-header, .player-footer{
            padding: 0.5em;
        }
    }
}

.all-settings{
    position: absolute;
    right: 0.5em;
    bottom: 3.5em;

    display: flex;
    align-items: start;
    flex-direction: row-reverse;
}

.settings-panel {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    margin-left: 0.5em;
    border-radius: 0.5em;
    background-color: var(--player-second-transparent-0-6);
    font-size: 0.8em;
    font-weight: 400;
    width: max-content; 
    height: max-content;
    max-width: 300px;

    filter: drop-shadow(0 3px 0 var(--player-background-color));

    hr {
        border-color: var(--player-second-transparent-0-6);
        margin: 2.5px 0;
    }

    .group-text {
        cursor: default;
        margin-top: 0.4em;
        margin-bottom: 0.1em;
        font-size: 0.8em;
        padding: 0 0.25em;
        color: var(--player-second-color);
    }

    .element {
        cursor: default;
        padding: 0.15em 0.25em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 1em;
        
        .element-group { 
            cursor: default;
            margin: 0 0.25em;
            display: flex; 
            align-items: center;
        }
        
        .element-value {
            cursor: default;
            color: var(--player-second-color);
            font-size: 0.7em;
            margin: 0 0.5em;
        }

        &.value {
            cursor: default;
            color: var(--player-second-color);
            padding-left: 1.3em;
        }

        &.selected-value, &.main-color, &.second-color {
            position: relative;
            cursor: default;
            padding-left: 1.3em;

            &.selected-value { background-color: var(--player-second-transparent-0-6) };
            &::before {
                position: absolute;
                content: "";
                height: 0.5em;
                width: 0.5em;
                left: 0.5em;
                bottom: 0.5em;
                border-radius: 50%;
                transition: 0.4s;

            }
            &.selected-value::before { background-color: var(--player-main-color) };
            &.main-color::before { background-color: var(--player-main-color) };
            &.second-color::before { background-color: var(--player-second-color) };
        }

        .margin { margin: 0 0.3em 0 0.1em; }
        .element-text { margin-left: 0.25em; }
        &:hover{ background-color: var(--player-second-transparent-0-4); }
        &.disabled { color: var(--player-second-color); }
    }

    .element-input {
        background-color: var(--player-second-color);
        border: none;
        color: var(--player-main-color);
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 1em;
        margin: 0.25em 0.1em;
        padding-left: 0.5em;
        outline: none;

        &:focus-visible{
            border: none;
            background-color: var(--player-second-transparent-0-4);
        }
    }

    .list {
        max-height: 10em;
        overflow-y: auto;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 1em;
    margin-left: 0.5em;
    margin-right: 0.15em;

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
            background-color: var(--player-main-color);
        }

        &:checked + .slider::before {
            transform: translateX(1em);
            background-color: var(--player-second-color);
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0; left: 0; right: 0; bottom: 0;
        background-color: var(--player-second-transparent-0-6);
        border-radius: 1em;
        transition: 0.4s;

        &::before {
            position: absolute;
            content: "";
            height: 0.78em;
            width: 0.78em;
            left: 0.14em;
            bottom: 0.1em;
            background-color: var(--player-main-color);
            border-radius: 50%;
            transition: 0.4s;
        }
    }
}

.player-controls {
    transition: opacity 0.5s;

    &.hidden{
        opacity: 0;
        pointer-events: none;
    }
}
