:root {
    --second-color-r:           100;
    --second-color-g:           100;
    --second-color-b:           100;

    --second-transparent-1:     rgba(var(--second-color-r), var(--second-color-g), var(--second-color-b), 0);
    --second-transparent-0-6:   rgba(var(--second-color-r), var(--second-color-g), var(--second-color-b), 0.6);
    --second-transparent-0-4:   rgba(var(--second-color-r), var(--second-color-g), var(--second-color-b), 0.4);

    --main-color:               #D9D9D9;
    --second-color:             rgb(var(--second-color-r), var(--second-color-g), var(--second-color-b));
    --third-color:              #0C1118;
    --fourth-color:             #1E1E28;
}

body{
    margin: 0;
    background-color: var(--fourth-color);
    color: var(--main-color);
}

.app-header, .app-footer {
  width: 100%;
  background-color: var(--third-color);
}

.content {
  max-width: 960px;
  margin: 0 auto;
}